
<body class="sb-nav-fixed">
    <!-- main content--->
    <div id="layoutSidenav_content">
        <main>
            <h1>BRAND'S INFO</h1>
            <form method="post">
                <div class="form-group">
                    <label for="formGroupExampleInput">ID</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ID" value={{brand.brand_id}}>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Tên Hãng Sản Xuất </label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="tên" value={{brand.brand_name}}>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Ngày thêm</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ngày thêm" value={{brand.created_date}}>
                </div>
                <button class="form-btn" type="submit">Lưu</button>
                <a class="form-btn " href="/shop-items">Quay lại</a>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/b-2.3.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/datatables/item-table-gen.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
</body>
